/* kirylic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(Oswald-300-cirylic.woff2) format('woff2');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(Oswald-400-cirylic.woff2) format('woff2');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(Oswald-700-cirylic.woff2) format('woff2');
}
@font-face {
  font-family: 'Underdog';
  font-style: normal;
  font-weight: 400;
  src: local('Underdog'), local('Underdog-Regular'), url(Underdog-400-cirylic.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(Oswald-300-latin.woff2) format('woff2');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(Oswald-400-latin.woff2) format('woff2');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(Oswald-700-latin.woff2) format('woff2');
}
@font-face {
  font-family: 'Underdog';
  font-style: normal;
  font-weight: 400;
  src: local('Underdog'), local('Underdog-Regular'), url(Underdog-400-latin.woff2) format('woff2');
}
